.user-form {
  padding: 3rem 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

.site-list {
  padding: 1.5rem 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
}

